<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lstas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item>
      <ion-label>Optimus Prime</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Optimus Prime truck</ion-label>
    </ion-item>
  </ion-list>

  <ion-img src="/assets/optimusPrime.png"></ion-img>
  <ion-img src="/assets/optimusPrimeTruck.png"></ion-img>

</ion-content>
